name: Auto Update Sub

on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  run-sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Sync and Process
        run: |
          git config --global user.email "bot@github.com"
          git config --global user.name "Sub-Bot"
          
          # 1. 先同步，防止 rejected
          git pull origin main --rebase
          
          # 2. 运行脚本
          python main.py
          
          # 3. 提交
          if [ -f "sub.txt" ]; then
            git add sub.txt
            git commit -m "Update nodes: $(date)" || exit 0
            git push origin main
          fi
